
<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Home Page </h1>
  <p>Welcome to ignit website where we share ideas! </p>
</div>

<form action= "{{url_for('editCatalogItem', catalog_id = i.id)}}" method = "post">
<div class="form-group">

<div class="container">
 <div class="form-group">
<p>title:</p>
<input class="form-control"  type = 'text' size='30' name = 'title' placeholder = '{{i.title}}'>
</div>

 <div class="form-group">
<p>content:</p>
<input class="form-control" type = 'text' size='30' name = 'content' placeholder = '{{i.content}}'>
</div>

 <div class="form-group">
<p>type:</p>
<input class="form-control" type = 'text' size='30' name = 'catalog_type' placeholder = '{{i.catalog_type}}'>
    </div>

<input class="btn btn-success" type='submit' value='Edit'>
</form>
<a href= '{{url_for('showCatalogs')}}' class="btn btn-primary">Cancel</a>
</div>
</body>
</html>
